@media ( max-width: 1560px )
    .container
        width: 70%

    .title
        &_options
            top: 3rem
         
    .contacts
        &-item
            margin: 0 .5em
            &__tel
                line-height: normal
                font-size: 0.6em
            &__address
                font-size: 0.6em
    .advantages
        &__descr
            line-height: normal
            font-size: 1em
    .tabs
        &__link
            padding: 0.5em 2.5em

    .slider
        &__prev
            left: 0%
            width: 7vw
        &__next
            right: 0%
            width: 7vw
    .causes
        &__text
            max-width: 80%

    .options
        &__descr
            width: 70%
@media ( max-width: 1200px )
    .container
     width: 80%
    .main
        &__promo
            font-size: 2.4em
        &__phone
            right: 10%
    
    .tabs
        height: auto
        &__link
            padding: 1.5em 2.5em

    .slider
        &__prev
        
        &__next
    .causes
        &__text
            
            font-size: 1.3em

    .options
        &__descr
            width: 75%
            line-height: normal
        &__subheader
            font-size: 1.5em

@media  ( max-width: 976px )
    .contacts
        .container
            width: 99%
        &-item
            &__subheader
                font-size: 0.78em
            &__address
                font-size: 0.55em
            &__tel
                font-size: 0.55em
    .menu
        &__item
            margin: 0 1rem
            font-size: 0.71em
    .main
        &__promo
            font-size: 1.9em
            margin-top: 5rem

    .title
        font-size: 1.4em
        &_main
            font-size: 1em
        &_options
            top: 2rem
        &_footer
            font-size: 1em
            margin-bottom: .5em
    .button
        padding: 15px 30px
    .devider
        margin: 1rem auto
        &__title
            font-size: 1.9em

    .advantages
        padding: 2em 0
        &__item
            margin: 1em .5em
            padding-bottom: 0.5rem
        &__descr
            max-width: 95%
            font-size: .85em

    .slider
        padding: 2rem 0
        .container
            width: 99%
    
    .tabs
        margin: 15px auto
        &__item
            font-size: 0.71em
        &__link
            padding: 1rem
    .causes
        padding: 2rem 0

        &__wrapper
            margin-top: 1em
        &__text
            font-size: 1em
    .options
        
        &__item
            height: 400px
            padding: 0 0.5rem
        &__square
            height: 110px
            width: auto
            right: 1rem
            &_right
                left: 1rem
        &__subheader
            font-size: 1em
            padding-right: 2rem
            &_right
                padding-left: 2rem
            
        &__descr
            font-size: .85em
            padding-right: 2rem
            &_right
                padding-left: 2rem
    .begin
        padding: 2rem
    .footer
        &__about
            padding-right: .5rem
        &__descr
            font-size: 0.71em
        &__logo
            margin-bottom: .5rem
            width: 150px
            height: auto

    .list
        font-size: 0.71em

        &__link
            padding: 0.2em 0
@media  ( max-width: 775px )
    *
        font-size: 0.96em
    .container
        width: 85%
    .contacts
        display: none
    .main
        padding-top: 2rem 
        padding-bottom: 0
        min-height: 75vh
        &__promo
            margin-top: 3rem
        
        &__phone
            height: 250px
            width: auto
    
    .header
        &__img
            width: 120px
            height: auto
    .menu
        &__item
            margin-right: .3rem
            
        
    .devider
        &__arrow
            height: 50px
            width: auto
        &__title
            margin-top: 1rem

    .options__item
        height: 320px
@media  ( max-width: 576px )
    *
        font-size: 0.95em
    
    .container
        width: 90%
    .main
        padding-top: 1rem

    .menu
        &__item
            margin: 0 .4rem
    .title
        &_main
            margin-top: 0.6rem
        &_options
            width: 80%
            top: 1rem
            br 
                display: none
        &_begin
            margin-top: 1rem


    .devider
        margin: .1rem
    .main
        min-height: 65vh
        &__promo
            margin-top: 1rem
        &__phone
            right: 5%
    .slider
        padding: 1rem 0
        min-height: 80vh
        &__wrapper
            margin: 2px auto
    .options
        height: 315px
        &__item
            max-height: 100%
    .begin
        padding: 1rem
        &__icon
            height: 235px
            width: auto
    .button
        &_begin
            margin-top: 1rem
    .footer
        padding: 1rem 0 
        &__logo
            width: 100px

    
@media  ( max-width: 450px )
    .container
        width: 95%
        text-align: center
    .main
        min-height: auto
        padding: 1rem 0 
        &__phone
            display: none
        &__promo
            font-size: 1.4em
            max-width: 95%
            text-align: center
    nav
        margin: 0 auto
    .header__link
        display: none

    .title
        font-size: 1.1em
        &_main
            max-width: 95%
           
            text-align: center
    .button
        text-align: center
    .advantages
        padding: 1rem 0
        min-height: auto
    .slider
        min-height: auto
        &__wrapper
            margin-top: 1rem
        &__prev
            display: none
        &__next
            display: none
        .container
            width: 95%
    .devider__arrow
        display: none
    
    .tabs
        display: none
    .causes
        &__item
            width: 100%
        &__text
            font-size: 1.4em
    .options
        height: 275px
        &__item
            padding: 0
        &__subheader
            font-size: .9em
            padding-right: 1rem
            &_right
                padding-left: 1rem
                padding-right: 0
                
        &__descr
            padding-right: 1rem
            &_right
                padding-left: 1rem
    .footer
        padding-top: 0
        &__wrapper
            display: none

            
