.title
    color: #ffffff
    font-stretch: normal
    letter-spacing: normal
    text-align: center
    &_main
        max-width: 35%
        font-size: 1.5em
        margin-top: 1.6rem
        font-weight: 300
        line-height: 1.25
        text-align: left
        span
            font-weight: normal
    &_causes
        margin: 0 auto
        font-size: 1.88em
        font-weight: 900
        line-height: 1.2
        text-align: center
        color: #393939
        max-width: 370px
        
    &_slider
        font-size: 1.88em
        font-weight: 900
        line-height: 1.2
        text-align: center
        color: #ffffff

    &_options
        position: absolute
        top: 5rem
        left: 50%
       
        transform: translateX(-50%)
        font-size: 1.9em
        font-weight: 900
        line-height: 1.2
        text-align: center
        color: #ffffff
        z-index: 2 
    &_begin
        margin-top: 8vh
        font-size: 1.88em
        font-weight: 900
        line-height: 1.2
        text-align: center
        color: #393939
    &_footer
        margin-bottom: 1em
        font-size: 1em
        text-align-last: left





